<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<import resource="classpath:/net/butfly/albacore/frame/spring/beans-frame.xml" />
	
	<!-- facade -->
	<bean id="collisionFacade" parent="facade" class="com.hzcominfo.search.collision.impl.facade.CollisionFacadeImpl" >
		<property name="exportRoot" value="${search.collision.export.root}"/>
	</bean>
	
	<!-- init thread -->
	<bean id="initThread" class="com.hzcominfo.search.collision.InitThreadImpl" init-method="start" />
</beans>