# Created by .ignore support plugin (hsz.mobi)

*.a       # 忽略所有 .a 结尾的文件

!lib.a    # 但 lib.a 除外

/TODO     # 仅仅忽略项目根目录下的 TODO 文件，不包括 subdir/TODObuild/    # 忽略

build/ 目录下的所有文件doc/*.txt # 会忽略

*.iml

/target/

*.log

